<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.conlistech.sportsclubbookingengine">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="27" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.LoginScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SignupScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ForgotPasswordScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.HomeScreen"
            android:label="@string/title_activity_home_screen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LandingScreen"
            android:label="@string/title_activity_landing_screen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.TeammatesScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProfileScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FriendRequestsScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AddTeammates"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SettingsScreen"
            android:label="@string/title_activity_settings_screen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PaymentCardsScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DetailsScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TimeSlotSelector"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SelectTimeSlot"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GameInfoScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GameInvitesScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ShareGameScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.UpcomingGamesScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GameDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.GameInvitations"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.RecentChatListActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.ChatMessageActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".activities.AddTochatUserActivity"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/GOOGLE_MAP_API_KEY" />


    </application>

</manifest>